---
import '../styles/global.css';

const pageTitle = "about me"

const identity = {
	firstName: "Divesh",
	lastName: "Punjabi",
	country: "Panama",
	residence: "San Francisco, CA",
	role: "Founder",
	company: "Versa",
	hobbies: ["coding", "reading", "crossfit", "running", "surfing", "snowboarding", "meditating"],
};

const skills = ["Python", "HTML", "CSS", "JavaScript", "React", "Astro", "Markdown"]

const happy = true;
const finished = false;
const goal = 3;

const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
		<style define:vars={{skillColor, fontWeight, textCase}}>
			h1 {
			  color: blue;
			  font-size: 2rem;
			}
			.skill {
				color: var(--skillColor);
				font-weight: var(--fontWeight);
				text-transform: var(--textCase);
			}
		  </style>
	</head>
	<body>
		<a href="/">home</a>
		<a href="/blog/">blog</a>
        <a href="/projects/">projects</a> 
        <a href="/books/">books</a>
        <a href="/about/">about</a>
		<h1>{pageTitle}</h1>
		<p>a few things</p>
		<ul>
			<li>born in {identity.country} as {identity.firstName} {identity.lastName}</li>
			<li>living in {identity.residence} as the {identity.role} of {identity.company}</li>
			{identity.hobbies.length >= 2 &&
			<li>Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}</li>
			}
		</ul>
		<p>coding with</p>
		<ul>
			{skills.map((skill) => <li class="skill">{skill}</li>)}
		</ul>
		<p>reading</p>
		<ul>
			Thinking in Systems
		</ul>
		
		{happy && <p>I am happy to be learning Astro!</p>}
		
		{finished && <p>I finished this tutorial!</p>}

		{goal === 3 ? <p>My goal is to finish in 3 days.</p> : <p>My goal is not 3 days.</p>}

	</body>
</html>
