---
import { getCollection } from 'astro:content';
import BlogPost from '../components/BlogPost.astro';
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Depths";
const pageDescription = "Shall we dive?";
const posts = await getCollection('depths');
const sortedPosts = posts.sort((a, b) => new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime());
---

<BaseLayout pageTitle={pageTitle}>
    <header class="mb-6">
        <h1 class="text-4xl font-bold mb-4">{pageTitle}</h1>
        <p class="mb-8">{pageDescription}</p>
    </header>
        <ul>
            {sortedPosts.map((post) =>
            <BlogPost
              url={`/depths/${post.id}`}
              title={post.data.title}
              date={new Date(post.data.pubDate).toLocaleDateString('en-US', { month: 'short', year: '2-digit'})}
            />)}
        </ul>
</BaseLayout>
